body {
    background-image: url(images/homepage.png);
    background-size: cover;
}

.button1 {
    position: absolute;
    top: 40%;
    left: 31%;
    width: 45%;
    height: 30%;
    border: none;
    background-image: url(images/buttonstart.png);
    background-size: cover;
    background-position: center;
    background-color: transparent;
}

.betinput {
    position: absolute;
    width: 15%;
    height: 8%;
    top: 70%;
    left: 43.5%;
    font-size: 24px;
}

.divcoins {
    position: absolute;
    top: 87.9%;
    left: 10%;
    font-size: 45px;
    color: #ffc500;
}

.button3 {
    position: absolute;
    top: 5%;
    left: 90%;
    width: 10%;
    height: 15%;
    border: none;
    background-image: url(images/image3.png);
    background-size: cover;
    background-color: transparent;
}

.musicbtn1 {
    position: absolute;
    top: 85%;
    left: 85%;
    width: 10%;
    height: 15%;
    border: none;
    background-image: url(images/zara.jpg);
    background-size: cover;
}

.musicbtn2 {
    position: absolute;
    top: 85%;
    left: 75%;
    width: 10%;
    height: 15%;
    border: none;
    background-image: url(images/onot.jpg);
    background-size: cover;
}

.musicbtn3 {
    position: absolute;
    top: 85%;
    left: 65%;
    width: 10%;
    height: 15%;
    border: none;
    background-image: url(images/zohar.jpg);
    background-size: cover;
}

.stopbtn {
    position: absolute;
    top: 80%;
    left: 76%;
    width: 8%;
    height: 4%;
    border: none;
}
.moremoney {
    position: absolute;
    top: 5%;
    left: 77%;
    width: 15%;
    height: 15%;
    background-image: url(images/coins.png);
    background-size: cover;
    border: none;
    background-color: transparent;
    background-position: center;
}