body {
    background-image: url(images/lostpage.png);
    background-size:cover;
}
.resbutton {
    position: absolute;
    background-image: url(images/restartbutton.png);
    background-size: cover;
    top: 35%;
    left: 25%;
    width: 1000px;
    height: 500px;
    background-color: transparent;
    border: none;
}