body {
    background-image: url(images/levelbackground.png);
    background-size: cover;
}

.divcoins2 {
    position: absolute;
    top: 87.9%;
    left: 10%;
    font-size: 45px;
    color: #ffc500;
}

.choosedoor {
    position: absolute;
    top: 47%;
    left: 49%;
    width: 6%;
    height: 10%;
    font-size: 40px;
}

.confirmbutton {
    position: absolute;
    top: 60%;
    left: 49%;
    width: 6%;
    height: 10%;
}
